body{
  overflow: hidden;
}
.home-section {
  /* position: relative; */
  height: 100vh; /* Full viewport height */
  /* background-image: url('../images/bg.jpg'); Replace with your image path */
  background-size: cover;
  background-position: center;
  display: flex; /* Use flexbox for alignment */
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Align items to the start (left) */
  justify-content: center; /* Center content vertically */
  padding: 20px; /* Add some padding */
}


.background-overlay {
  /* background-color: rgba(0, 0, 0, 0.5); Black overlay with 50% opacity */
  /* padding: 20px; */
  border-radius: 10px;
  text-align: left; /* Left-align text */
  color: blue;
}

.typing-effect {
  text-align: left; /* Ensure text is left-aligned */
}

.name-title {
  margin: 5px 0; /* Add small margin for spacing */
  padding: 0;
}
