.typing-effect {
    font-size: 2em;
    font-weight: bold;
    
  }
  
  .caret {
    display: inline-block;
    animation: blink 1s step-end infinite;
  }
  
  @keyframes blink {
    from, to {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
  